@use '../../abstracts' as a;
@use '../../utils/mixins' as m;

// ******* effect_8_start_here *******

.effect-8 {
    &:hover {

        .fa,
        .fab {
            &::after {
                transform: rotate(-360deg) translate(0%, 0%);
            }
        }
    }

    .fa,
    .fab {
        @include m.setIconBackgroundColor(background-color, true);
        position: relative;
        z-index: 1;

        &::after {
            @include a.setPseudoSize(100%, 100%);
            @include a.setPseudoPosition(0, 0);
            z-index: -1;
            transition: transform .5s;
            transform: rotate(45deg) translate(0%, -135%);
        }

    }
}

// ******* effect_8_end_here *******