@use '../abstracts'as a;

.brand-icons {
    @include a.setFlexCenter;
    flex-wrap: wrap;
    // align-content: center;

    &__link {
        overflow: hidden;
        display: block;
        text-align: center;
        margin: 0.3em;
        border-radius: 5px;
        transition: .3s cubic-bezier(0.17, 0.89, 0.32, 1.28);

        &:hover {

            .fa,
            .fab {
                background-color: transparent;
            }

            .fa,
            .fab,
            .fa::after,
            .fab::after {
                color: rgb(255, 255, 255);
            }
        }

        .fa,
        .fab {
            @include a.setFlexCenter(row, center, center);
            position: relative;
            width: 45px;
            height: 45px;
            font-size: 23px;
            transition: color 1.1s, background-color .3s, border-radius .3s, z-index .7s;
            color: a.$txt-color;
            background-color: a.$bg-color;

            &::after,
            &::before {
                @include a.setFlexCenter(row, center, center);
            }

            &.size--small {
                width: 35px;
                height: 35px;
                font-size: 19px;
            }

            &.size--big {
                width: 55px;
                height: 55px;
                font-size: 27px;
            }
        }
    }
}