.brand-icons__title {
    padding: 12px 0;
    letter-spacing: 1.1px;
    font-size: 2.5em;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}