@use '../utils/mixins' as m;

// ******* brand_icon_pulse_start_here *******

.brand-icons--pulse {
    &:hover {
        transform: scale(1.1);
    }

    .fa,
    .fab {
        @include m.setIconBackgroundColor();
        color: rgb(255, 255, 255);
    }
}

// ******* brand_icon_pulse_end_here *******