@use '../abstracts'as a;
@use '../utils/mixins'as m;

// ******* brand_icons_circle_scale_start_here *******

.brand-icons--circle-scale {
    &:hover {
        border-radius: 100%;

        .fa,
        .fab {
            @include m.setIconBackgroundColor('background-color', false, true);

            &::after {
                transform: scale(1);
            }
        }
    }

    .fa,
    .fab {

        &::after {
            @include a.setPseudoSize(100%, 100%);
            @include a.setPseudoPosition(0, 0);
            border-radius: 50%;
            transition: transform .3s;
            transform: scale(0);
        }
    }
}

// ******* brand_icons_circle_scale_end_here *******