@use '../../abstracts' as a;
@use '../../utils/mixins' as m;

// ******* effect_10_start_here *******

.effect-10 {
    &:hover {

        .fa,
        .fab {

            &::after {
                transform: rotate(-360deg) scale(1);
            }
        }
    }

    .fa,
    .fab {
        @include m.setIconBackgroundColor(background-color, true, false);
        position: relative;
        z-index: 1;

        &::after {
            @include a.setPseudoSize(100%, 100%);
            @include a.setPseudoPosition(0, 0);
            z-index: -1;
            transition: .5s;
            transform: rotate(0deg) scale(0);
        }
    }
}

// ******* effect_10_end_here *******