@import '../vendors/css/font_awesome_v.4.7.min.css';
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.brand-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.brand-icons__link {
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 0.3em;
  border-radius: 5px;
  -webkit-transition: 0.3s cubic-bezier(0.17, 0.89, 0.32, 1.28);
  transition: 0.3s cubic-bezier(0.17, 0.89, 0.32, 1.28);
}
.brand-icons__link:hover .fa,
.brand-icons__link:hover .fab {
  background-color: transparent;
}
.brand-icons__link:hover .fa,
.brand-icons__link:hover .fab,
.brand-icons__link:hover .fa::after,
.brand-icons__link:hover .fab::after {
  color: white;
}
.brand-icons__link .fa,
.brand-icons__link .fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 45px;
  height: 45px;
  font-size: 23px;
  -webkit-transition: color 1.1s, background-color 0.3s, border-radius 0.3s, z-index 0.7s;
  transition: color 1.1s, background-color 0.3s, border-radius 0.3s, z-index 0.7s;
  color: black;
  background-color: #a7a7a7;
}
.brand-icons__link .fa::after, .brand-icons__link .fa::before,
.brand-icons__link .fab::after,
.brand-icons__link .fab::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brand-icons__link .fa.size--small,
.brand-icons__link .fab.size--small {
  width: 35px;
  height: 35px;
  font-size: 19px;
}
.brand-icons__link .fa.size--big,
.brand-icons__link .fab.size--big {
  width: 55px;
  height: 55px;
  font-size: 27px;
}

.brand-icons--pulse:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.brand-icons--pulse .fa,
.brand-icons--pulse .fab {
  color: white;
}
.brand-icons--pulse .fa.fa-twitter,
.brand-icons--pulse .fab.fa-twitter {
  background-color: #1da1f2;
}
.brand-icons--pulse .fa.fa-youtube,
.brand-icons--pulse .fab.fa-youtube {
  background-color: #ff0000;
}
.brand-icons--pulse .fa.fa-skype,
.brand-icons--pulse .fab.fa-skype {
  background-color: #00adf1;
}
.brand-icons--pulse .fa.fa-github,
.brand-icons--pulse .fab.fa-github {
  background-color: #111543;
}
.brand-icons--pulse .fa.fa-foursquare,
.brand-icons--pulse .fab.fa-foursquare {
  background-color: #f4427e;
}
.brand-icons--pulse .fa.fa-odnoklassniki,
.brand-icons--pulse .fab.fa-odnoklassniki {
  background-color: #ee8208;
}
.brand-icons--pulse .fa.fa-vk,
.brand-icons--pulse .fab.fa-vk {
  background-color: #4a76a8;
}
.brand-icons--pulse .fa.fa-whatsapp,
.brand-icons--pulse .fab.fa-whatsapp {
  background-color: #00e676;
}
.brand-icons--pulse .fa.fa-instagram,
.brand-icons--pulse .fab.fa-instagram {
  background-color: #d02873;
}
.brand-icons--pulse .fa.fa-dropbox,
.brand-icons--pulse .fab.fa-dropbox {
  background-color: #0061fe;
}
.brand-icons--pulse .fa.fa-soundcloud,
.brand-icons--pulse .fab.fa-soundcloud {
  background-color: #ff5500;
}
.brand-icons--pulse .fa.fa-tumblr,
.brand-icons--pulse .fab.fa-tumblr {
  background-color: #37455c;
}
.brand-icons--pulse .fa.fa-yahoo,
.brand-icons--pulse .fab.fa-yahoo {
  background-color: #6001d2;
}
.brand-icons--pulse .fa.fa-tripadvisor,
.brand-icons--pulse .fab.fa-tripadvisor {
  background-color: #00a680;
}
.brand-icons--pulse .fa.fa-envira,
.brand-icons--pulse .fab.fa-envira {
  background-color: #7cbf48;
}
.brand-icons--pulse .fa.fa-dribbble,
.brand-icons--pulse .fab.fa-dribbble {
  background-color: #ea4c89;
}
.brand-icons--pulse .fa.fa-flickr,
.brand-icons--pulse .fab.fa-flickr {
  background-color: #0063dc;
}
.brand-icons--pulse .fa.fa-meetup,
.brand-icons--pulse .fab.fa-meetup {
  background-color: #f64060;
}
.brand-icons--pulse .fa.fa-twitch,
.brand-icons--pulse .fab.fa-twitch {
  background-color: #9146ff;
}
.brand-icons--pulse .fa.fa-vimeo,
.brand-icons--pulse .fab.fa-vimeo {
  background-color: #1ab7ea;
}
.brand-icons--pulse .fa.fa-spotify,
.brand-icons--pulse .fab.fa-spotify {
  background-color: #1ed760;
}
.brand-icons--pulse .fa.fa-wordpress,
.brand-icons--pulse .fab.fa-wordpress {
  background-color: #585858;
}
.brand-icons--pulse .fa.fa-qq,
.brand-icons--pulse .fab.fa-qq {
  background-color: #eda018;
}
.brand-icons--pulse .fa.fa-weixin,
.brand-icons--pulse .fab.fa-weixin {
  background-color: #6bba13;
}
.brand-icons--pulse .fa.fa-quora,
.brand-icons--pulse .fab.fa-quora {
  background-color: #e44346;
}
.brand-icons--pulse .fa.fa-xing,
.brand-icons--pulse .fab.fa-xing {
  background-color: #1a7576;
}
.brand-icons--pulse .fa.fa-viadeo,
.brand-icons--pulse .fab.fa-viadeo {
  background-color: #f07355;
}
.brand-icons--pulse .fa.fa-ravelry,
.brand-icons--pulse .fab.fa-ravelry {
  background-color: #ea1467;
}
.brand-icons--pulse .fa.fa-renren,
.brand-icons--pulse .fab.fa-renren {
  background-color: #0058ae;
}
.brand-icons--pulse .fa.fa-windows,
.brand-icons--pulse .fab.fa-windows {
  background-color: #00a8e8;
}
.brand-icons--pulse .fa.fa-stack-overflow,
.brand-icons--pulse .fab.fa-stack-overflow {
  background-color: #ec7c22;
}
.brand-icons--pulse .fa.fa-paypal,
.brand-icons--pulse .fab.fa-paypal {
  background-color: #0070ba;
}
.brand-icons--pulse .fa.fa-discord,
.brand-icons--pulse .fab.fa-discord {
  background-color: #7289da;
}
.brand-icons--pulse .fa.fa-tiktok,
.brand-icons--pulse .fab.fa-tiktok {
  background-color: #1f0b1a;
}
.brand-icons--pulse .fa.fa-goodreads-g,
.brand-icons--pulse .fab.fa-goodreads-g {
  background-color: #794d23;
}
.brand-icons--pulse .fa.fa-viber,
.brand-icons--pulse .fab.fa-viber {
  background-color: #7e55f2;
}
.brand-icons--pulse .fa.fa-line,
.brand-icons--pulse .fab.fa-line {
  background-color: #33d582;
}
.brand-icons--pulse .fa.fa-grav,
.brand-icons--pulse .fab.fa-grav {
  background-color: #7e37f0;
}
.brand-icons--pulse .fa.fa-android,
.brand-icons--pulse .fab.fa-android {
  background-color: #339e49;
}
.brand-icons--pulse .fa.fa-amazon,
.brand-icons--pulse .fab.fa-amazon {
  background-color: #f26b23;
}
.brand-icons--pulse .fa.fa-apple,
.brand-icons--pulse .fab.fa-apple {
  background-color: #333333;
}
.brand-icons--pulse .fa.fa-behance,
.brand-icons--pulse .fab.fa-behance {
  background-color: #0157ff;
}
.brand-icons--pulse .fa.fa-bitbucket,
.brand-icons--pulse .fab.fa-bitbucket {
  background-color: #1868db;
}
.brand-icons--pulse .fa.fa-btc,
.brand-icons--pulse .fab.fa-btc {
  background-color: #f7931a;
}
.brand-icons--pulse .fa.fa-deviantart,
.brand-icons--pulse .fab.fa-deviantart {
  background-color: #00e59b;
}
.brand-icons--pulse .fa.fa-digg,
.brand-icons--pulse .fab.fa-digg {
  background-color: #1f65db;
}
.brand-icons--pulse .fa.fa-drupal,
.brand-icons--pulse .fab.fa-drupal {
  background-color: #1da3de;
}
.brand-icons--pulse .fa.fa-facebook,
.brand-icons--pulse .fab.fa-facebook {
  background-color: #3b5998;
}
.brand-icons--pulse .fa.fa-facebook-f,
.brand-icons--pulse .fab.fa-facebook-f {
  background-color: #3b5998;
}
.brand-icons--pulse .fa.fa-google-plus,
.brand-icons--pulse .fab.fa-google-plus {
  background-color: #dc4a38;
}
.brand-icons--pulse .fa.fa-google-plus-g,
.brand-icons--pulse .fab.fa-google-plus-g {
  background-color: #dc4a38;
}
.brand-icons--pulse .fa.fa-telegram,
.brand-icons--pulse .fab.fa-telegram {
  background-color: #35ace1;
}
.brand-icons--pulse .fa.fa-telegram-plane,
.brand-icons--pulse .fab.fa-telegram-plane {
  background-color: #35ace1;
}
.brand-icons--pulse .fa.fa-pinterest,
.brand-icons--pulse .fab.fa-pinterest {
  background-color: #e60023;
}
.brand-icons--pulse .fa.fa-pinterest-p,
.brand-icons--pulse .fab.fa-pinterest-p {
  background-color: #e60023;
}
.brand-icons--pulse .fa.fa-snapchat,
.brand-icons--pulse .fab.fa-snapchat {
  background-color: #e2de00;
}
.brand-icons--pulse .fa.fa-snapchat-ghost,
.brand-icons--pulse .fab.fa-snapchat-ghost {
  background-color: #e2de00;
}
.brand-icons--pulse .fa.fa-reddit,
.brand-icons--pulse .fab.fa-reddit {
  background-color: orangered;
}
.brand-icons--pulse .fa.fa-reddit-alien,
.brand-icons--pulse .fab.fa-reddit-alien {
  background-color: orangered;
}
.brand-icons--pulse .fa.fa-steam,
.brand-icons--pulse .fab.fa-steam {
  background-color: #003f73;
}
.brand-icons--pulse .fa.fa-steam-symbol,
.brand-icons--pulse .fab.fa-steam-symbol {
  background-color: #003f73;
}
.brand-icons--pulse .fa.fa-linkedin,
.brand-icons--pulse .fab.fa-linkedin {
  background-color: #0073b0;
}
.brand-icons--pulse .fa.fa-linkedin-in,
.brand-icons--pulse .fab.fa-linkedin-in {
  background-color: #0073b0;
}

.brand-icons-glass {
  position: relative;
}
.brand-icons-glass:hover .fa.fa-twitter,
.brand-icons-glass:hover .fab.fa-twitter {
  background-color: #1da1f2;
}
.brand-icons-glass:hover .fa.fa-youtube,
.brand-icons-glass:hover .fab.fa-youtube {
  background-color: #ff0000;
}
.brand-icons-glass:hover .fa.fa-skype,
.brand-icons-glass:hover .fab.fa-skype {
  background-color: #00adf1;
}
.brand-icons-glass:hover .fa.fa-github,
.brand-icons-glass:hover .fab.fa-github {
  background-color: #111543;
}
.brand-icons-glass:hover .fa.fa-foursquare,
.brand-icons-glass:hover .fab.fa-foursquare {
  background-color: #f4427e;
}
.brand-icons-glass:hover .fa.fa-odnoklassniki,
.brand-icons-glass:hover .fab.fa-odnoklassniki {
  background-color: #ee8208;
}
.brand-icons-glass:hover .fa.fa-vk,
.brand-icons-glass:hover .fab.fa-vk {
  background-color: #4a76a8;
}
.brand-icons-glass:hover .fa.fa-whatsapp,
.brand-icons-glass:hover .fab.fa-whatsapp {
  background-color: #00e676;
}
.brand-icons-glass:hover .fa.fa-instagram,
.brand-icons-glass:hover .fab.fa-instagram {
  background-color: #d02873;
}
.brand-icons-glass:hover .fa.fa-dropbox,
.brand-icons-glass:hover .fab.fa-dropbox {
  background-color: #0061fe;
}
.brand-icons-glass:hover .fa.fa-soundcloud,
.brand-icons-glass:hover .fab.fa-soundcloud {
  background-color: #ff5500;
}
.brand-icons-glass:hover .fa.fa-tumblr,
.brand-icons-glass:hover .fab.fa-tumblr {
  background-color: #37455c;
}
.brand-icons-glass:hover .fa.fa-yahoo,
.brand-icons-glass:hover .fab.fa-yahoo {
  background-color: #6001d2;
}
.brand-icons-glass:hover .fa.fa-tripadvisor,
.brand-icons-glass:hover .fab.fa-tripadvisor {
  background-color: #00a680;
}
.brand-icons-glass:hover .fa.fa-envira,
.brand-icons-glass:hover .fab.fa-envira {
  background-color: #7cbf48;
}
.brand-icons-glass:hover .fa.fa-dribbble,
.brand-icons-glass:hover .fab.fa-dribbble {
  background-color: #ea4c89;
}
.brand-icons-glass:hover .fa.fa-flickr,
.brand-icons-glass:hover .fab.fa-flickr {
  background-color: #0063dc;
}
.brand-icons-glass:hover .fa.fa-meetup,
.brand-icons-glass:hover .fab.fa-meetup {
  background-color: #f64060;
}
.brand-icons-glass:hover .fa.fa-twitch,
.brand-icons-glass:hover .fab.fa-twitch {
  background-color: #9146ff;
}
.brand-icons-glass:hover .fa.fa-vimeo,
.brand-icons-glass:hover .fab.fa-vimeo {
  background-color: #1ab7ea;
}
.brand-icons-glass:hover .fa.fa-spotify,
.brand-icons-glass:hover .fab.fa-spotify {
  background-color: #1ed760;
}
.brand-icons-glass:hover .fa.fa-wordpress,
.brand-icons-glass:hover .fab.fa-wordpress {
  background-color: #585858;
}
.brand-icons-glass:hover .fa.fa-qq,
.brand-icons-glass:hover .fab.fa-qq {
  background-color: #eda018;
}
.brand-icons-glass:hover .fa.fa-weixin,
.brand-icons-glass:hover .fab.fa-weixin {
  background-color: #6bba13;
}
.brand-icons-glass:hover .fa.fa-quora,
.brand-icons-glass:hover .fab.fa-quora {
  background-color: #e44346;
}
.brand-icons-glass:hover .fa.fa-xing,
.brand-icons-glass:hover .fab.fa-xing {
  background-color: #1a7576;
}
.brand-icons-glass:hover .fa.fa-viadeo,
.brand-icons-glass:hover .fab.fa-viadeo {
  background-color: #f07355;
}
.brand-icons-glass:hover .fa.fa-ravelry,
.brand-icons-glass:hover .fab.fa-ravelry {
  background-color: #ea1467;
}
.brand-icons-glass:hover .fa.fa-renren,
.brand-icons-glass:hover .fab.fa-renren {
  background-color: #0058ae;
}
.brand-icons-glass:hover .fa.fa-windows,
.brand-icons-glass:hover .fab.fa-windows {
  background-color: #00a8e8;
}
.brand-icons-glass:hover .fa.fa-stack-overflow,
.brand-icons-glass:hover .fab.fa-stack-overflow {
  background-color: #ec7c22;
}
.brand-icons-glass:hover .fa.fa-paypal,
.brand-icons-glass:hover .fab.fa-paypal {
  background-color: #0070ba;
}
.brand-icons-glass:hover .fa.fa-discord,
.brand-icons-glass:hover .fab.fa-discord {
  background-color: #7289da;
}
.brand-icons-glass:hover .fa.fa-tiktok,
.brand-icons-glass:hover .fab.fa-tiktok {
  background-color: #1f0b1a;
}
.brand-icons-glass:hover .fa.fa-goodreads-g,
.brand-icons-glass:hover .fab.fa-goodreads-g {
  background-color: #794d23;
}
.brand-icons-glass:hover .fa.fa-viber,
.brand-icons-glass:hover .fab.fa-viber {
  background-color: #7e55f2;
}
.brand-icons-glass:hover .fa.fa-line,
.brand-icons-glass:hover .fab.fa-line {
  background-color: #33d582;
}
.brand-icons-glass:hover .fa.fa-grav,
.brand-icons-glass:hover .fab.fa-grav {
  background-color: #7e37f0;
}
.brand-icons-glass:hover .fa.fa-android,
.brand-icons-glass:hover .fab.fa-android {
  background-color: #339e49;
}
.brand-icons-glass:hover .fa.fa-amazon,
.brand-icons-glass:hover .fab.fa-amazon {
  background-color: #f26b23;
}
.brand-icons-glass:hover .fa.fa-apple,
.brand-icons-glass:hover .fab.fa-apple {
  background-color: #333333;
}
.brand-icons-glass:hover .fa.fa-behance,
.brand-icons-glass:hover .fab.fa-behance {
  background-color: #0157ff;
}
.brand-icons-glass:hover .fa.fa-bitbucket,
.brand-icons-glass:hover .fab.fa-bitbucket {
  background-color: #1868db;
}
.brand-icons-glass:hover .fa.fa-btc,
.brand-icons-glass:hover .fab.fa-btc {
  background-color: #f7931a;
}
.brand-icons-glass:hover .fa.fa-deviantart,
.brand-icons-glass:hover .fab.fa-deviantart {
  background-color: #00e59b;
}
.brand-icons-glass:hover .fa.fa-digg,
.brand-icons-glass:hover .fab.fa-digg {
  background-color: #1f65db;
}
.brand-icons-glass:hover .fa.fa-drupal,
.brand-icons-glass:hover .fab.fa-drupal {
  background-color: #1da3de;
}
.brand-icons-glass:hover .fa.fa-facebook,
.brand-icons-glass:hover .fab.fa-facebook {
  background-color: #3b5998;
}
.brand-icons-glass:hover .fa.fa-facebook-f,
.brand-icons-glass:hover .fab.fa-facebook-f {
  background-color: #3b5998;
}
.brand-icons-glass:hover .fa.fa-google-plus,
.brand-icons-glass:hover .fab.fa-google-plus {
  background-color: #dc4a38;
}
.brand-icons-glass:hover .fa.fa-google-plus-g,
.brand-icons-glass:hover .fab.fa-google-plus-g {
  background-color: #dc4a38;
}
.brand-icons-glass:hover .fa.fa-telegram,
.brand-icons-glass:hover .fab.fa-telegram {
  background-color: #35ace1;
}
.brand-icons-glass:hover .fa.fa-telegram-plane,
.brand-icons-glass:hover .fab.fa-telegram-plane {
  background-color: #35ace1;
}
.brand-icons-glass:hover .fa.fa-pinterest,
.brand-icons-glass:hover .fab.fa-pinterest {
  background-color: #e60023;
}
.brand-icons-glass:hover .fa.fa-pinterest-p,
.brand-icons-glass:hover .fab.fa-pinterest-p {
  background-color: #e60023;
}
.brand-icons-glass:hover .fa.fa-snapchat,
.brand-icons-glass:hover .fab.fa-snapchat {
  background-color: #e2de00;
}
.brand-icons-glass:hover .fa.fa-snapchat-ghost,
.brand-icons-glass:hover .fab.fa-snapchat-ghost {
  background-color: #e2de00;
}
.brand-icons-glass:hover .fa.fa-reddit,
.brand-icons-glass:hover .fab.fa-reddit {
  background-color: orangered;
}
.brand-icons-glass:hover .fa.fa-reddit-alien,
.brand-icons-glass:hover .fab.fa-reddit-alien {
  background-color: orangered;
}
.brand-icons-glass:hover .fa.fa-steam,
.brand-icons-glass:hover .fab.fa-steam {
  background-color: #003f73;
}
.brand-icons-glass:hover .fa.fa-steam-symbol,
.brand-icons-glass:hover .fab.fa-steam-symbol {
  background-color: #003f73;
}
.brand-icons-glass:hover .fa.fa-linkedin,
.brand-icons-glass:hover .fab.fa-linkedin {
  background-color: #0073b0;
}
.brand-icons-glass:hover .fa.fa-linkedin-in,
.brand-icons-glass:hover .fab.fa-linkedin-in {
  background-color: #0073b0;
}
.brand-icons-glass:hover span::after, .brand-icons-glass:hover span::before {
  -webkit-transform: rotate(135deg) translate(27%, -1393%);
          transform: rotate(135deg) translate(27%, -1393%);
}
.brand-icons-glass span {
  overflow: hidden;
}
.brand-icons-glass span::after, .brand-icons-glass span::before {
  content: "";
  position: absolute;
  width: 77px;
  height: 5px;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotate(135deg) translate(27%, 977%);
          transform: rotate(135deg) translate(27%, 977%);
  -webkit-box-shadow: 0 0 27px 5px white;
          box-shadow: 0 0 27px 5px white;
  background-color: rgba(255, 255, 255, 0.5);
}
.brand-icons-glass span::after {
  margin: 5px;
}
.brand-icons-glass span::before {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
/*# sourceMappingURL=main.css.map */