@use '../utils/mixins'as m;

// ******* brand_icons_fill_start_here *******

.brand-icons--fill {
    background-color: rgb(167, 167, 167);

    &:hover {
        background-color: transparent;

        .fa,
        .fab,
        .fa-brands {
            @include m.setIconBackgroundColor();
            border-radius: 0;
        }
    }

    .fa,
    .fab,
    .fa-brands {
        border-radius: 100%;
        background-color: transparent;
    }
}

// ******* brand_icons_fill_end_here *******