@use '../abstracts'as a;
@use '../utils/mixins'as m;

// ******* brand_icons_rotate_scale_clockwise_start_here *******

.brand-icons--rotate-scale-clockwise {
    &:hover {

        .fa,
        .fab,
        .fa-brands {

            &::after {
                transform: rotate(-360deg) scale(1);
            }
        }
    }

    .fa,
    .fab,
    .fa-brands {
        @include m.setIconBackgroundColor(background-color, true, false);
        position: relative;
        z-index: 1;

        &::after {
            @include a.setPseudoSize(100%, 100%);
            @include a.setPseudoPosition(0, 0);
            z-index: -1;
            transition: .5s;
            transform: rotate(0deg) scale(0);
        }
    }
}

// ******* brand_icons_rotate_scale_clockwise_end_here *******