@use '../abstracts'as a;
@use '../utils/mixins'as m;

// ******* brand_icons_rotate_top_left_clockwise_start_here *******

.brand-icons--rotate-top-left-clockwise {
    &:hover {

        .fa,
        .fab {
            &::after {
                transform: rotate(-360deg) translate(0%, 0%);
            }
        }
    }

    .fa,
    .fab {
        @include m.setIconBackgroundColor(background-color, true);
        position: relative;
        z-index: 1;

        &::after {
            @include a.setPseudoSize(100%, 100%);
            @include a.setPseudoPosition(0, 0);
            z-index: -1;
            transition: transform .5s;
            transform: rotate(45deg) translate(0%, -135%);
        }

    }
}

// ******* brand_icons_rotate_top_left_clockwise_end_here *******