@use '../components/effects/effect-1.scss';
@use '../components/effects/effect-2.scss';
@use '../components/effects/effect-3.scss';
@use '../components/effects/effect-4.scss';
@use '../components/effects/effect-5.scss';
@use '../components/effects/effect-6.scss';
@use '../components/effects/effect-7.scss';
@use '../components/effects/effect-8.scss';
@use '../components/effects/effect-9.scss';
@use '../components/effects/effect-10.scss';
@use '../components/effects/effect-11.scss';